In [1]:
#we shall import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error
import seaborn as sns
%matplotlib inline

In [2]:
df1 = pd.read_csv('Bengaluru_House_Data.csv')
df1

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [3]:
df1.shape

(13320, 9)

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
df1.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [6]:
df1.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [7]:
df1.describe(include='all')

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
count,13320,13320,13319,13304,7818,13320,13247.000000,12711.000000,13320.000000
unique,4,81,1305,31,2688,2117,NaN,NaN,NaN
top,Super built-up Area,Ready To Move,Whitefield,2 BHK,GrrvaGr,1200,NaN,NaN,NaN
freq,8790,10581,540,5199,80,843,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,2.692610,1.584376,112.565627
std,NaN,NaN,NaN,NaN,NaN,NaN,1.341458,0.817263,148.971674
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,8.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,1.000000,50.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,72.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,2.000000,120.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,40.000000,3.000000,3600.000000

In [8]:
# EDA

In [9]:
df1.drop(['availability','society','balcony'],axis = 1,inplace=True)

In [10]:
df1

,area_type,location,size,total_sqft,bath,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,51.00
...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453,4.0,231.00
13316,Super built-up Area,Richards Town,4 BHK,3600,5.0,400.00
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141,2.0,60.00
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689,4.0,488.00
13319,Super built-up Area,Doddathoguru,1 BHK,550,1.0,17.00

In [11]:
df1.isna().sum()

area_type      0
location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [12]:
df1.isna().sum()/len(df1)*100

area_type     0.000000
location      0.007508
size          0.120120
total_sqft    0.000000
bath          0.548048
price         0.000000
dtype: float64

In [13]:
df2 = df1.dropna()

### Checkpoint 1

In [14]:
df2.isna().sum()

area_type     0
location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [15]:
df1.isna().sum()

area_type      0
location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [19]:
df2.head()

,area_type,location,size,total_sqft,bath,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,51.00

In [20]:
df2['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [22]:
df2['size'].nunique()

31

In [21]:
df2['size'].value_counts()

2 BHK         5198
3 BHK         4286
4 Bedroom      818
4 BHK          577
3 Bedroom      546
1 BHK          531
2 Bedroom      329
5 Bedroom      296
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           57
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [23]:
df2['bhk'] = df2['size'].apply(lambda x : int(x.split()[0]))

C:\Users\Shridhar\AppData\Local\Temp\ipykernel_4580\3784117381.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['bhk'] = df2['size'].apply(lambda x : int(x.split()[0]))

In [24]:
df2

,area_type,location,size,total_sqft,bath,price,bhk
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00,4
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,95.00,3
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,51.00,2
...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453,4.0,231.00,5
13316,Super built-up Area,Richards Town,4 BHK,3600,5.0,400.00,4
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141,2.0,60.00,2
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689,4.0,488.00,4
13319,Super built-up Area,Doddathoguru,1 BHK,550,1.0,17.00,1

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13246 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13246 non-null  object
 1   location    13246 non-null  object
 2   size        13246 non-null  object
 3   total_sqft  13246 non-null  object
 4   bath        13246 non-null  float64
 5   price       13246 non-null  float64
 6   bhk         13246 non-null  int64
dtypes: float64(2), int64(1), object(4)
memory usage: 827.9+ KB

In [26]:
df2.drop(['size'],axis = 1,inplace= True)

C:\Users\Shridhar\AppData\Local\Temp\ipykernel_4580\3760756357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(['size'],axis = 1,inplace= True)

In [27]:
df2

,area_type,location,total_sqft,bath,price,bhk
0,Super built-up Area,Electronic City Phase II,1056,2.0,39.07,2
1,Plot Area,Chikka Tirupathi,2600,5.0,120.00,4
2,Built-up Area,Uttarahalli,1440,2.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,1521,3.0,95.00,3
4,Super built-up Area,Kothanur,1200,2.0,51.00,2
...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,3453,4.0,231.00,5
13316,Super built-up Area,Richards Town,3600,5.0,400.00,4
13317,Built-up Area,Raja Rajeshwari Nagar,1141,2.0,60.00,2
13318,Super built-up Area,Padmanabhanagar,4689,4.0,488.00,4
13319,Super built-up Area,Doddathoguru,550,1.0,17.00,1

In [28]:
df2['bhk'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [40]:
temp_df = df2.loc[df2['bhk'] >= 12]
temp_df

,area_type,location,total_sqft,bath,price,bhk
1718,Super built-up Area,2Electronic City Phase II,8000,27.0,230.0,27
3379,Super built-up Area,1Hanuman Nagar,2000,16.0,490.0,19
3609,Super built-up Area,Koramangala Industrial Layout,10000,16.0,550.0,16
4684,Plot Area,Munnekollal,2400,40.0,660.0,43
4916,Super built-up Area,1Channasandra,1250,15.0,125.0,14
6533,Plot Area,Mysore Road,2232,6.0,300.0,12
9935,Super built-up Area,1Hoysalanagar,5425,13.0,275.0,13
11559,Plot Area,1Kasavanhalli,1200,18.0,200.0,18

In [41]:
index_list = temp_df.index.values.tolist() 
index_list

[1718, 3379, 3609, 4684, 4916, 6533, 9935, 11559]

In [43]:
df3 = df2.drop(index_list) # Checkpoint2 
df3

,area_type,location,total_sqft,bath,price,bhk
0,Super built-up Area,Electronic City Phase II,1056,2.0,39.07,2
1,Plot Area,Chikka Tirupathi,2600,5.0,120.00,4
2,Built-up Area,Uttarahalli,1440,2.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,1521,3.0,95.00,3
4,Super built-up Area,Kothanur,1200,2.0,51.00,2
...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,3453,4.0,231.00,5
13316,Super built-up Area,Richards Town,3600,5.0,400.00,4
13317,Built-up Area,Raja Rajeshwari Nagar,1141,2.0,60.00,2
13318,Super built-up Area,Padmanabhanagar,4689,4.0,488.00,4
13319,Super built-up Area,Doddathoguru,550,1.0,17.00,1

In [44]:
df3.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [46]:
df3['total_sqft'].nunique()

2065

In [57]:
df3['total_sqft'].astype('int')

ValueError: invalid literal for int() with base 10: '2100 - 2850'

In [51]:
df3.total_sqft.head(50)

0            1056
1            2600
2            1440
3            1521
4            1200
5            1170
6            2732
7            3300
8            1310
9            1020
10           1800
11           2785
12           1000
13           1100
14           2250
15           1175
16           1180
17           1540
18           2770
19           1100
20            600
21           1755
22           2800
23           1767
24            510
25           1250
26            660
27           1610
28           1151
29           1025
30    2100 - 2850
31           1075
32           1760
33           1693
34           1925
35            700
36           1070
37           1724
38           1290
39           1143
40           1296
41           1254
42            600
43            660
44        1330.74
45            600
46            970
47           1459
48            800
49            869
Name: total_sqft, dtype: object

In [52]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13238 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13238 non-null  object
 1   location    13238 non-null  object
 2   total_sqft  13238 non-null  object
 3   bath        13238 non-null  float64
 4   price       13238 non-null  float64
 5   bhk         13238 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 724.0+ KB

In [56]:
type(df3['total_sqft'].iloc[2])

str

In [59]:
def convert_float(sqft_value):
    try:
        float(sqft_value)
    except:
        return False
    return True

In [60]:
df3.loc[df3['total_sqft'].apply(convert_float)]

,area_type,location,total_sqft,bath,price,bhk
0,Super built-up Area,Electronic City Phase II,1056,2.0,39.07,2
1,Plot Area,Chikka Tirupathi,2600,5.0,120.00,4
2,Built-up Area,Uttarahalli,1440,2.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,1521,3.0,95.00,3
4,Super built-up Area,Kothanur,1200,2.0,51.00,2
...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,3453,4.0,231.00,5
13316,Super built-up Area,Richards Town,3600,5.0,400.00,4
13317,Built-up Area,Raja Rajeshwari Nagar,1141,2.0,60.00,2
13318,Super built-up Area,Padmanabhanagar,4689,4.0,488.00,4
13319,Super built-up Area,Doddathoguru,550,1.0,17.00,1

In [61]:
df3.loc[~df3['total_sqft'].apply(convert_float)]

,area_type,location,total_sqft,bath,price,bhk
30,Super built-up Area,Yelahanka,2100 - 2850,4.0,186.000,4
122,Super built-up Area,Hebbal,3067 - 8156,4.0,477.000,4
137,Super built-up Area,8th Phase JP Nagar,1042 - 1105,2.0,54.005,2
165,Super built-up Area,Sarjapur,1145 - 1340,2.0,43.490,2
188,Super built-up Area,KR Puram,1015 - 1540,2.0,56.800,2
...,...,...,...,...,...,...
12975,Super built-up Area,Whitefield,850 - 1060,2.0,38.190,2
12990,Super built-up Area,Talaghattapura,1804 - 2273,3.0,122.000,3
13059,Super built-up Area,Harlur,1200 - 1470,2.0,72.760,2
13265,Super built-up Area,Hoodi,1133 - 1384,2.0,59.135,2
13299,Super built-up Area,Whitefield,2830 - 2882,5.0,154.500,4

In [62]:
def convert_range_to_num(sqft_range):
    num = sqft_range.split('-')
    if len(num) == 2:
        return(float(num[0])+float(num[1]))/2
    try: 
        return float(sqft_range)
    except:
        return None

In [64]:
convert_range_to_num('2122')

2122.0

In [65]:
convert_range_to_num('2830 - 2882')

2856.0

In [66]:
df3['total_sqft']=df3['total_sqft'].apply(convert_range_to_num)

In [68]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13238 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13238 non-null  object
 1   location    13238 non-null  object
 2   total_sqft  13192 non-null  float64
 3   bath        13238 non-null  float64
 4   price       13238 non-null  float64
 5   bhk         13238 non-null  int64
dtypes: float64(3), int64(1), object(2)
memory usage: 724.0+ KB

In [70]:
df4 = df3.copy() ## Checkpoint

In [75]:
df4.isna().sum()

area_type      0
location       0
total_sqft    46
bath           0
price          0
bhk            0
dtype: int64

In [76]:
df4.head()

,area_type,location,total_sqft,bath,price,bhk
0,Super built-up Area,Electronic City Phase II,1056.0,2.0,39.07,2
1,Plot Area,Chikka Tirupathi,2600.0,5.0,120.00,4
2,Built-up Area,Uttarahalli,1440.0,2.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,1521.0,3.0,95.00,3
4,Super built-up Area,Kothanur,1200.0,2.0,51.00,2

In [77]:
df4['price'] = df4['price']*100000
df4

,area_type,location,total_sqft,bath,price,bhk
0,Super built-up Area,Electronic City Phase II,1056.0,2.0,3907000.0,2
1,Plot Area,Chikka Tirupathi,2600.0,5.0,12000000.0,4
2,Built-up Area,Uttarahalli,1440.0,2.0,6200000.0,3
3,Super built-up Area,Lingadheeranahalli,1521.0,3.0,9500000.0,3
4,Super built-up Area,Kothanur,1200.0,2.0,5100000.0,2
...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,3453.0,4.0,23100000.0,5
13316,Super built-up Area,Richards Town,3600.0,5.0,40000000.0,4
13317,Built-up Area,Raja Rajeshwari Nagar,1141.0,2.0,6000000.0,2
13318,Super built-up Area,Padmanabhanagar,4689.0,4.0,48800000.0,4
13319,Super built-up Area,Doddathoguru,550.0,1.0,1700000.0,1

In [78]:
df4['price_per_sqft']=df4['price']/df4['total_sqft']

In [79]:
df4

,area_type,location,total_sqft,bath,price,bhk,price_per_sqft
0,Super built-up Area,Electronic City Phase II,1056.0,2.0,3907000.0,2,3699.810606
1,Plot Area,Chikka Tirupathi,2600.0,5.0,12000000.0,4,4615.384615
2,Built-up Area,Uttarahalli,1440.0,2.0,6200000.0,3,4305.555556
3,Super built-up Area,Lingadheeranahalli,1521.0,3.0,9500000.0,3,6245.890861
4,Super built-up Area,Kothanur,1200.0,2.0,5100000.0,2,4250.000000
...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,3453.0,4.0,23100000.0,5,6689.834926
13316,Super built-up Area,Richards Town,3600.0,5.0,40000000.0,4,11111.111111
13317,Built-up Area,Raja Rajeshwari Nagar,1141.0,2.0,6000000.0,2,5258.545136
13318,Super built-up Area,Padmanabhanagar,4689.0,4.0,48800000.0,4,10407.336319
13319,Super built-up Area,Doddathoguru,550.0,1.0,1700000.0,1,3090.909091

In [80]:
df4.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [81]:
df4.location.nunique()

1299

In [89]:
df4.location.value_counts()

Whitefield                            534
Sarjapur  Road                        392
Electronic City                       302
Kanakpura Road                        266
Thanisandra                           233
                                     ...
Rajanna Layout                          1
Kengeri Satellite Town ( BDA SITE)      1
Lakshmipura Vidyaanyapura               1
Malur Hosur Road                        1
Abshot Layout                           1
Name: location, Length: 1299, dtype: int64

In [90]:
location_count = df4.location.value_counts()

In [91]:
location_count

Whitefield                            534
Sarjapur  Road                        392
Electronic City                       302
Kanakpura Road                        266
Thanisandra                           233
                                     ...
Rajanna Layout                          1
Kengeri Satellite Town ( BDA SITE)      1
Lakshmipura Vidyaanyapura               1
Malur Hosur Road                        1
Abshot Layout                           1
Name: location, Length: 1299, dtype: int64

In [95]:
location_count.head(50)

Whitefield                  534
Sarjapur  Road              392
Electronic City             302
Kanakpura Road              266
Thanisandra                 233
Yelahanka                   210
Uttarahalli                 186
Hebbal                      176
Marathahalli                175
Raja Rajeshwari Nagar       171
Bannerghatta Road           152
Hennur Road                 150
7th Phase JP Nagar          149
Haralur Road                141
Electronic City Phase II    131
Rajaji Nagar                106
Chandapura                   98
Bellandur                    96
KR Puram                     88
Hoodi                        88
Electronics City Phase 1     87
Yeshwanthpur                 85
Begur Road                   84
Sarjapur                     81
Harlur                       79
Kasavanhalli                 79
Hormavu                      74
Banashankari                 74
Ramamurthy Nagar             73
Kengeri                      73
Koramangala                  72
Hosa Road                    72
Varthur                      70
Old Madras Road              70
Jakkur                       68
JP Nagar                     67
Kothanur                     66
Kaggadasapura                64
Nagarbhavi                   63
Akshaya Nagar                62
Thigalarapalya               62
TC Palaya                    60
8th Phase JP Nagar           57
Malleshwaram                 57
Rachenahalli                 56
Budigere                     54
HSR Layout                   53
Jigani                       52
Jalahalli                    52
Hennur                       52
Name: location, dtype: int64

In [98]:
len(location_count[location_count<=15])

1119

In [100]:
len(location_count[location_count<=10])

1058

In [101]:
len(location_count[location_count<=20])

1156

In [102]:
df4['location'] = df4['location'].apply(lambda x : 'Others' if x in location_count[location_count<=20] else x)
df4

,area_type,location,total_sqft,bath,price,bhk,price_per_sqft
0,Super built-up Area,Electronic City Phase II,1056.0,2.0,3907000.0,2,3699.810606
1,Plot Area,Others,2600.0,5.0,12000000.0,4,4615.384615
2,Built-up Area,Uttarahalli,1440.0,2.0,6200000.0,3,4305.555556
3,Super built-up Area,Lingadheeranahalli,1521.0,3.0,9500000.0,3,6245.890861
4,Super built-up Area,Kothanur,1200.0,2.0,5100000.0,2,4250.000000
...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,3453.0,4.0,23100000.0,5,6689.834926
13316,Super built-up Area,Others,3600.0,5.0,40000000.0,4,11111.111111
13317,Built-up Area,Raja Rajeshwari Nagar,1141.0,2.0,6000000.0,2,5258.545136
13318,Super built-up Area,Padmanabhanagar,4689.0,4.0,48800000.0,4,10407.336319
13319,Super built-up Area,Doddathoguru,550.0,1.0,1700000.0,1,3090.909091

In [105]:
df4['location'].value_counts()

Others                4308
Whitefield             534
Sarjapur  Road         392
Electronic City        302
Kanakpura Road         266
                      ...
Gunjur                  22
Kaval Byrasandra        22
Basaveshwara Nagar      21
Ulsoor                  21
Hoskote                 21
Name: location, Length: 144, dtype: int64

In [106]:
df5 = df4.copy() ### checkpoint

In [107]:
df5.isna().sum()

area_type          0
location           0
total_sqft        46
bath               0
price              0
bhk                0
price_per_sqft    46
dtype: int64

In [110]:
df5.dropna(inplace=True)

In [111]:
df5.head()

,location,total_sqft,bath,price,bhk,price_per_sqft,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
0,Electronic City Phase II,1056.0,2.0,3907000.0,2,3699.810606,0,0,0,1
1,Others,2600.0,5.0,12000000.0,4,4615.384615,0,0,1,0
2,Uttarahalli,1440.0,2.0,6200000.0,3,4305.555556,1,0,0,0
3,Lingadheeranahalli,1521.0,3.0,9500000.0,3,6245.890861,0,0,0,1
4,Kothanur,1200.0,2.0,5100000.0,2,4250.000000,0,0,0,1

In [108]:
df5['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [109]:
df5 = pd.get_dummies(df5,columns=['area_type'],prefix='area_type')
df5.head()

,location,total_sqft,bath,price,bhk,price_per_sqft,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
0,Electronic City Phase II,1056.0,2.0,3907000.0,2,3699.810606,0,0,0,1
1,Others,2600.0,5.0,12000000.0,4,4615.384615,0,0,1,0
2,Uttarahalli,1440.0,2.0,6200000.0,3,4305.555556,1,0,0,0
3,Lingadheeranahalli,1521.0,3.0,9500000.0,3,6245.890861,0,0,0,1
4,Kothanur,1200.0,2.0,5100000.0,2,4250.000000,0,0,0,1

In [112]:
df5 = pd.get_dummies(df5,columns=['location'],prefix='area_type')
df5.head()

,total_sqft,bath,price,bhk,price_per_sqft,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,area_type_1st Phase JP Nagar,...,area_type_Ulsoor,area_type_Uttarahalli,area_type_Varthur,area_type_Vidyaranyapura,area_type_Vijayanagar,area_type_Vittasandra,area_type_Whitefield,area_type_Yelahanka,area_type_Yelahanka New Town,area_type_Yeshwanthpur
0,1056.0,2.0,3907000.0,2,3699.810606,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2600.0,5.0,12000000.0,4,4615.384615,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1440.0,2.0,6200000.0,3,4305.555556,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1521.0,3.0,9500000.0,3,6245.890861,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1200.0,2.0,5100000.0,2,4250.000000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [113]:
df5.to_csv('clean_data.csv')

In [115]:
y = df5['price']
x = df5.drop(['price'],axis=1)

In [116]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=1)

In [119]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [120]:
# normalise
from sklearn.preprocessing import MinMaxScaler
ms = MinMaxScaler()
x_train = ms.fit_transform(x_train)
x_test = ms.transform(x_test)

In [121]:
x_train

array([[0.02571215, 0.07692308, 0.1       , ..., 0.        , 0.        ,
        0.        ],
       [0.02293815, 0.07692308, 0.1       , ..., 0.        , 0.        ,
        0.        ],
       [0.03537334, 0.15384615, 0.2       , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.02079547, 0.07692308, 0.1       , ..., 0.        , 0.        ,
        0.        ],
       [0.03173844, 0.15384615, 0.2       , ..., 0.        , 0.        ,
        0.        ],
       [0.0669396 , 0.30769231, 0.4       , ..., 0.        , 0.        ,
        0.        ]])

In [126]:
l_reg = LinearRegression()
l_reg.fit(x_train,y_train)

y_pred = l_reg.predict(x_test)


l_acc = r2_score(y_test,y_pred)
l_mse = mean_squared_error(y_test,y_pred)
l_mae = mean_absolute_error(y_test,y_pred)

print(f'Accuracy={l_acc}')
print(f'MSE={l_mse}')
print(f'MAE={l_mae}')

Accuracy=0.4837665257833622
MSE=87100665798217.19
MAE=4058410.2781356573

In [135]:
k_reg = KNeighborsRegressor()
k_reg.fit(x_train,y_train)

y_pred_k_reg = k_reg.predict(x_test)


k_acc = r2_score(y_test,y_pred_k_reg)
k_mse = mean_squared_error(y_test,y_pred_k_reg)
k_mae = mean_absolute_error(y_test,y_pred_k_reg)

print(f'Accuracy={k_acc}')
print(f'MSE={k_mse}')
print(f'MAE={k_mae}')

Accuracy=0.5572179945079511
MSE=74707684425831.75
MAE=3246460.2879878744

In [131]:
d_reg = DecisionTreeRegressor()
d_reg.fit(x_train,y_train)

y_pred_d_reg = d_reg.predict(x_test)


d_acc = r2_score(y_test,y_pred_d_reg)
d_mse = mean_squared_error(y_test,y_pred_d_reg)
d_mae = mean_absolute_error(y_test,y_pred_d_reg)

print(f'Accuracy={d_acc}')
print(f'MSE={d_mse}')
print(f'MAE={d_mae}')

Accuracy=0.9722970502413174
MSE=4674135810773.125
MAE=322663.74257925985

In [132]:
r_reg = RandomForestRegressor()
r_reg.fit(x_train,y_train)

y_pred_r_reg = r_reg.predict(x_test)


r_acc = r2_score(y_test,y_pred_r_reg)
r_mse = mean_squared_error(y_test,y_pred_r_reg)
r_mae = mean_absolute_error(y_test,y_pred_r_reg)

print(f'Accuracy={r_acc}')
print(f'MSE={r_mse}')
print(f'MAE={r_mae}')

Accuracy=0.9601607894650508
MSE=6721806964833.172
MAE=231811.0403336401

In [133]:
x_reg = XGBRegressor()
x_reg.fit(x_train,y_train)

y_pred_x_reg = x_reg.predict(x_test)


x_acc = r2_score(y_test,y_pred_x_reg)
x_mse = mean_squared_error(y_test,y_pred_x_reg)
x_mae = mean_absolute_error(y_test,y_pred_x_reg)

print(f'Accuracy={x_acc}')
print(f'MSE={x_mse}')
print(f'MAE={x_mae}')

Accuracy=0.9825569523308194
MSE=2943050269727.551
MAE=311764.84667487687

In [136]:
models = pd.DataFrame({
    'Models': ['Linear','KNN','DecisionTree','RandomForest','XGB'],
    'Scores': [l_acc,k_acc,d_acc,r_acc,x_acc]

})

In [137]:
models

         Models    Scores
0        Linear  0.483767
1           KNN  0.557218
2  DecisionTree  0.972297
3  RandomForest  0.960161
4           XGB  0.982557

In [141]:
models.sort_values(by = ['Scores'])

         Models    Scores
0        Linear  0.483767
1           KNN  0.557218
3  RandomForest  0.960161
2  DecisionTree  0.972297
4           XGB  0.982557

In [142]:
import pickle

In [145]:
model_file = open('hpp_model.pickle','wb')
pickle.dump(x_reg,model_file)
model_file.close()